
<h2>出来立ての質問</h2>
<% 5.times do |x| %>
  <p>質問タイトル 質問タイトル 質問タイトル <%= link_to "投票する","#" %></p>
<% end %>

<h2>注目の質問</h2>
<% 5.times do |x| %>
  <p>質問タイトル 質問タイトル 質問タイトル <%= link_to "投票する","#" %></p>
<% end %>

<h2>あなたに条件が合う質問</h2>
<% 5.times do |x| %>
  <p>質問タイトル 質問タイトル 質問タイトル <%= link_to "投票する","#" %></p>
<% end %>