@charset "utf-8";

body{
  background: #ffeeee;
  color:#600;
  font-size:90%;
  margin:0;
}

#container{

}

#header{
  background-color: #600;
  color:#fff;
}

h1{
  color:#600;
}

#content{
  padding:5px;
}

#footer{
  text-align:right;
  color: #900;
  border-bottom:1px solid #900;
  padding:20px 10px 0 0;
}

table{
  width:90%;
}

td{
  padding:2px 5px;
  background-color:#fff;
  color:#600;
  border:#fee solid 2px;
}

pre{
  background-color: #fff;
  padding:5px 10px;
  margin:10px 20px;
}