/*
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "settings/normalize";


ul{
  margin:0;
  padding:0;
  list-style:none;
}


.str-header,
.str-footer{
  background-color:#00bc8d;
  text-align:center;
}
.str-header{
  position:relative;
  min-height:100px;
  .hdg{
    margin:0;
    line-height:100px;
    position:relative;
    z-index:1;
    a{
      color:#fff;
    }
  }
}
.str-main{
  margin-right:10px;
  margin-left:10px;
}

#logoCanvas{
  position:absolute;
  right:0;
  left:0;
  margin:0 auto;
}

#chartArea {
  width:100%;
  height:300px;
  font-size:10rem;
}

.list-input-poll{
  label{
    display:block;
  }
  li{
    margin-bottom:5px;
  }
}

.list-show-poll{
  li{
    margin-bottom:5px;
  }
}

.list-polls{
  > li{
    box-sizing:border-box;
    box-shadow:0 0 2px 1px rgba(0,0,0,0.1);
    border-radius:3px;
    margin-bottom:2%;
    background:#fff;
    position:relative;
    a{
      display:block;
    }
  }
  .hdg-01{
    font-size:1.4rem;
    border-bottom:1px solid #ccc;
    margin:0 0 10px;
  }
  .poll-main-container{
    height:105px;
    padding:10px;
    p{
      margin:0;
    }
  }
  .poll-info-container{
    width:100%;
    height:45px;
    background-color:#00bc8d;
    border-radius:0 0 3px 3px;
    display:table;
    color:#fff;
    p{
      margin:0;
    }
    .host-info,
    .time-info{
      font-size:1.2rem;
      display:table-cell;
      padding:5px 10px;
      vertical-align:middle;
      box-sizing:border-box;
    }
    .host-info{
      width:60%;
      text-align:center;
    }
    .time-info{
      width:40%;
      border-left:1px solid #fff;
      line-height:1.4;
      .text{
        font-size:1rem;
      }
      .time{
        display:block;
        text-align:center;
      }
    }
  }
}

.notice{
  border:1px solid blue;
  padding:3px;
  background-color:#ccf;
}

@media screen and (min-width: 1101px){
  .str-main{
    width:1080px;
    margin-right:auto;
    margin-left:auto;
  }
  .list-polls{
    overflow:visible;
    margin-left:-1%;
    > li{
      float:left;
      width:24%;
      margin-left:1%;
    }
  }
}

@media (min-width: 768px) and (max-width: 1100px){
  .list-polls{
    overflow:visible;
    margin-left:-1.33%;
    > li{
      float:left;
      width:32%;
      margin-left:1.33%;
    }
  }
}

@media (min-width: 481px) and (max-width: 767px){
  .list-polls{
    overflow:visible;
    margin-left:-1.5%;
    > li{
      float:left;
      width:48.5%;
      margin-left:1.5%;
    }
  }
}
@media screen and (max-width: 480px){

}