/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html{
  font-size:62.5%;
}

body {
  background-color: #00CE9B;
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック",sans-serif;
  font-size:1.4rem;
  margin:0;
  padding:0;
}

a{
  text-decoration:none;
}

ul{
  list-style:none;
}

header,
footer{
  background-color: #00bc8d;
  text-align:center;
}
header{
  .hdg{
    margin:0;
    padding:20px 0;
    a{
      color: #fff;
    }
  }
}
main{
  margin-right:10px;
  margin-left:10px;
}

#chart {
  position: relative;
  width: 400px;
}

.listPoll{
  label{
    display:block;
  }
  li{
    margin-bottom:5px;
  }
}

.notice{
  border:1px solid blue;
  padding:3px;
  background-color:#ccf;
}

@media screen and (min-width: 960px){
  main{
    width:950px;
    margin-right:auto;
    margin-left:auto;
  }
}