body{
  font-size:16px;
  font-family:Arial, sans-serif;
  text-align: center;
  margin:0;
  padding:0;
  background-color: #f66;
}

h1{
  font-size:22px;
  margin:30px 0;
}

.row{
  margin-bottom:15px;
}

.box {
  width: 150px;
  height: 150px;
  display: inline-block;
  opacity: 0.5;
  cursor: pointer;
  color: #eee;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 48px;
  font-weight: bold;
  line-height: 150px;
}

.box + .box {
  margin-left: 10px;
}

#box_0{
  background-image:image-url("photo_0.png");
}
#box_1{
  background-image:image-url("photo_1.jpg");
}
#box_2{
  background-image:image-url("photo_2.jpg");
}
.selected {
  opacity: 1.0;
}

#btn{
  display: inline-block;
  width:150px;
  padding:7px;
  font-size:14px;
  cursor:pointer;
  border-radius:5px;
  background:#00aaff;
  box-shadow:0 4px 0 #08c;
}

#btn:hover{
  opacity:.8;
}

.error{
  background:orange;
  padding:7px;
  color:#fff;
}